body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Arial', serif;
}

.param-item {
  display: flex;
  justify-content: start;
  align-items: baseline;
  margin-top: 2px;
}

.param-item__label {
  margin-right: 20px;
  font-weight: bold;
  font-size: 20px;
  width: 120px;
  display: inline-block;
  text-align: center;
}

.param-item__input {
  font-size: 13px;
  width: 150px;
  font-weight: bold;
  height: 20px;
  padding: 0 4px;
  border: 2px solid #A4A4A4;
  border-radius: 4px;
}
